@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #28b487, #7dd56f);
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.view-emp-btn {
  margin: 10px 0 5px 0;
}

.view-emp-btn a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 8px;
  font-family: "Barlow", sans-serif;
  font-size: 1.2em;
  color: black;
  padding: 4px;
}

.view-emp-btn a:hover {
  background: linear-gradient(135deg, #28b487, #7dd56f);
  color: #fff;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus {
  border-color: #28b487;
}

.input-add {
  display: grid;
  margin-bottom: 15px;
}

.input-add span {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-add textarea {
  height: 90px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}

.input-add textarea:focus {
  border-color: #28b487;
}

.status {
  margin-bottom: 15px;
}

.status select:focus {
  border-color: #28b487;
}

form .button-register {
  height: 45px;
  margin: 35px 0;
}

form .button-register input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #28b487, #7dd56f);
}

/* Error message  */

#error {
  color: red;
  font-size: 11px;
}

/* Custom select  */

.custom-select select {
  cursor: pointer;
  background-color: #b1f1a7;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.custom-select::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #222;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
